<%= link_to "Products", "/products" %>

<h2><%= "#{@product.name}"%></h2>

<%= link_to "change vendor %'s'", new_product_vendor_allocation_path( product_id: @product.id, product_name: @product.name) %><br><br>

<%= form_for @product, remote: true do |f| %>

  <%= f.label :name, "name" %>
  <%= f.text_field :name %> <br><br>

  <%= f.label :sku, "sku" %>
  <%= f.text_field :sku %> <br><br>

<%= f.submit %>
<% end %>
<br>
<%= form_for @product, method: :delete do |f| %>
  <%= f.submit "Remove product" %><br/>
<% end %>
